<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagenes/Hero/Hero-Principal.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/Hojas de estilo/carrito.css">
    <title>FOODIED</title>
</head>
<body>
    <header style="background-color: rgb(132,183,78);">
        <div class="contenedor-header">
            <a class="empresa" href="/">FOODIED</a>
            <button id="menuResponsive" class="menu-responsive"><i class="bi bi-list"></i></button>
            <div class="contenedor-menu-responsive">
                <nav>
                    <a href="/">Inicio</a>
                    <a href="#menuEspecial">Menu</a>
                    <a href="#sobreNosotros">Sobre Nosotros</a>
                    <a href="#contactos">Contacto</a>
                </nav>
                <div class="header-derecha">
                    <div class="header-iconos">
                        <a href="#"><i class="bi bi-search"></i></a>
                            <a href="/compras"><i class="bi bi-bag"></i></a>
                </div>
                <%if(user) {%>
                    <div class="perfil">
                        <img src="<%=user.image%>" alt="">
                        <a href="/auth/logout"><%=user.username%></a>
                    </div>
                    <%}else{%>
                    <div class="registrarse">
                        <a href="/auth/signup">Registarse</a>
                    </div>
                <%}%>
            </div>
            </div>
        </div>
    </header>
    <section>
        <h1 class="carrito-titulo">PEDIDOS</h1>
        <div class="contenedor-carrito">
            <div class="carrito-compras">
                <%if(carrito.length > 0){%>
                    <% let total = 0 %>
                    <% carrito.forEach(producto => { %>
                        <div class="carrito-productos">
                            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                            <form action="/compras/agregar" method="POST">
                                <input type="hidden" name="id" value="<%=producto._id%>">
                                <input type="hidden" name="nombre" value="<%=producto.nombre%>">
                                <input type="hidden" name="imagen" value="<%=producto.imgUrl%>">
                                <input type="hidden" name="precio" value="<%=producto.precio%>">
                                <button class="comprar-ahora agregar" type="submit">+</button>
                            </form>
                            <p class="product-quantity"><%= Number(producto.cantidad) %></p>
                            <form action="/compras/restar" method="POST">
                                <input type="hidden" name="id" value="<%=producto._id%>">
                                <input type="hidden" name="nombre" value="<%=producto.nombre%>">
                                <input type="hidden" name="imagen" value="<%=producto.imgUrl%>">
                                <input type="hidden" name="precio" value="<%=producto.precio%>">
                                <button class="comprar-ahora agregar" type="submit">-</button>
                            </form>
                                <a href="compras/eliminar/<%= producto._id %>">Eliminar</a>
                            <p>$ <%= producto.precio %></p>
                        </div>
                        <% total += Number(producto.precio) * Number(producto.cantidad); %>
                        <% }); %>
                        <div class="realizar-compra">
                            <div class="comprar-carrito">
                                <p>Total:$<%= total %></p>
                                <form action="/compra-realizada" method="post">
                                    <button class="compra">Comprar</button>
                                </form>
                            </div>
                            <div>
                                <a class="explorar" href="/comidas/all">Explorar mas</a>
                            </div>
                        </div>
                <%
                } else {%>
                    <div class="buscar-productos"> 
                        <h1 class="mensaje-carrito">No hay productos en el carrito</h1>
                        <a href="/comidas/all">Explorar mas</a>
                    </div>
                <%}%>
            </div>
        </div>
    </section>
    <%- include('../views/partials/footer.ejs') %>
</body>
</html>