<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/estilo.css">
    <title>FOODIE</title>
</head>
<body>
    <header id="header" style="background-color: rgb(132,183,78);">
        <div class="contenedor-header">
            <a class="empresa" href="/">FOODIED</a>
            <nav>
                <a href="/">Inicio</a>
                <a href="#">Menu</a>
                <a href="#">Sobre Nosotros</a>
                <a href="#">Contacto</a>
            </nav>
            <div class="header-derecha">
                <div class="header-iconos">
                    <a href="#"><i class="bi bi-search"></i></a>
                    <a href="#"><i class="bi bi-bag"></i></a>
                </div>
                <div class="registrarse">
                    <a href="/auth/signup">Registarse</a>
                </div>
            </div>
        </div>
    </header>
    <section class='comida-habitual'>
        <div class="contenedor-comida-habitual">
            <div class='titulos'>
                <a href="/comidas/all">Todas las opciones</a>
                <a href="/comidas/carnes">Carnes</a>
                <a href="/comidas/ensaladas" style="color:rgb(132,183,78)">Ensaladas</a>
                <a href="/comidas/sushi">Sushi</a>
                <a href="/comidas/pastas">Pastas</a>
                <a href="/comidas/pizzas">Pizzas</a>
                <a href="/comidas/veganas">Opciones veganas</a>
                <a href="/comidas/sopas">Sopas</a>
                <a href="/comidas/dulces">Dulces</a>
            </div>
            <div class="comidas-shop">
                <% productos.forEach((producto) =>{ %>
                    <div class="tarjeta-shop">
                        <img src=<%=producto.imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=producto.nombre%></h2>
                            <p><%=producto.descripcion%></p>
                            <div class="opciones-comprar">
                                <p><%=producto.precio%></p>
                                <button>Comprar Ahora</button>
                            </div>
                        </div>
                    </div>
                <%})  %>
          </div>
          <Slide />
        </div>
      </section>
    <%-include('./partials/footer.ejs') -%>
</body>
</html>