<%- include('./partials/head.ejs') -%>
    <%- include('./Header/header.ejs') %>
    <%- include('./Hero/hero.ejs') %>
    <%- include('./Opciones/opciones.ejs') %>
    <%- include('./Elegirnos/elegirnos.ejs') %>
    <%- include('./Comida Especial/comidaEspecial.ejs') %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>