<%- include('./partials/head.ejs') -%>
    
<%- include('./partials/header.ejs') -%> 

<main>
    <!-- HERO -->
    <section id="hero" class="hero">
        <!-- <span class="circulo-verde-der"></span>
        <span class="circulo-verde-izq"></span> -->
        <img class="planta-hero" src="imagenes/Hero/Planta-Header.png" alt="">
        <div class="contenedor-hero">
            <div class="swiper swiper-hero">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-hero  swiper-no-swiping">
                        <div class="textos-hero">
                            <a href="#opciones" class="btn-hero-pregunta">Hambriento?</a>
                            <h1>SOLO VEN A FOODIED & ORDENA</h1>
                            <p>Aquí encontrarás comida pura y de la mejor calidad. Ordene ahora para satisfacer su hambre</p>
                            <div class="btns-hero">
                                <a href="#comidaHabitual" class="btn-hero-izq">Ordena Ahora</a>
                                <%if(user){%>
                                    <a href="/comidas/all" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%} else{%>
                                    <a href="/auth/signup" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%}%>
                                
                            </div>
                        </div>
                        <div class="imagenes-hero">
                            <img class="hero-comida-principal" src="imagenes/Hero/Hero-Principal.png" alt="">
                            <img class="hero-comida-pequeña panqueque" src="imagenes/Hero/Panqueques.png" alt="">
                            <img class="hero-comida-pequeña pancakes" src="imagenes/Hero/Pancakes.png" alt="">
                            <img class="hero-comida-pequeña pescado" src="imagenes/Hero/Pescado.jpg" alt="">
                            <img class="hero-comida-pequeña vegetales" src="imagenes/Hero/Arroz.jpg" alt="">
                            <img class="hero-comida-pequeña arroz" src="imagenes/Hero/Vegetales.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-hero  swiper-no-swiping">
                        <div class="textos-hero">
                            <a href="#opciones" class="btn-hero-pregunta">Hambriento?</a>
                            <h1>DISFRUTA DE LAS COMIDAS VEGANAS</h1>
                            <p>Aquí encontrarás comida vegana y de la mejor calidad. Ordene ahora para satisfacer su hambre</p>
                            <div class="btns-hero">
                                <a href="#comidaHabitual" class="btn-hero-izq">Ordena Ahora</a>
                                <%if(user){%>
                                    <a href="/comidas/veganas" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%} else{%>
                                    <a href="/auth/signup" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%}%>
                            </div>
                        </div>
                        <div class="imagenes-hero">
                            <img class="hero-comida-principal" src="imagenes/Hero/green salad wit 0.png" alt="">
                            <img class="hero-comida-pequeña panqueque" src="imagenes/Hero/salad 1.png" alt="">
                            <img class="hero-comida-pequeña pancakes" src="imagenes/Hero/salad carrot 1.png" alt="">
                            <img class="hero-comida-pequeña pescado" src="imagenes/Hero/salad green 1.png" alt="">
                            <img class="hero-comida-pequeña vegetales" src="imagenes/Hero/salad onion 1.png" alt="">
                            <img class="hero-comida-pequeña arroz" src="imagenes/Hero/salad tomatoes 1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-hero  swiper-no-swiping">
                        <div class="textos-hero">
                            <a href="#opciones" class="btn-hero-pregunta">Hambriento?</a>
                            <h1>DISFRUTA DE LOS PLATOS DULCES</h1>
                            <p>Aquí encontrarás comida dulces de la mejor calidad. Ordene ahora para satisfacer su hambre</p>
                            <div class="btns-hero">
                                <a href="#comidaHabitual" class="btn-hero-izq">Ordena Ahora</a>
                                <%if(user){%>
                                    <a href="/comidas/dulces" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%} else{%>
                                    <a href="/auth/signup" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                                <%}%>
                            </div>
                        </div>
                        <div class="imagenes-hero">
                            <img class="hero-comida-principal" src="imagenes/Hero/cheesecake view 1.png" alt="">
                            <img class="hero-comida-pequeña panqueque" src="imagenes/Hero/Panqueques.png" alt="">
                            <img class="hero-comida-pequeña pancakes" src="imagenes/Hero/Pancakes.png" alt="">
                            <img class="hero-comida-pequeña pescado" src="imagenes/Hero/cake 1.png" alt="">
                            <img class="hero-comida-pequeña vegetales" src="imagenes/Hero/cake chocolate 0.png" alt="">
                            <img class="hero-comida-pequeña arroz" src="imagenes/Hero/cake strawberri 1.png" alt="">
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <!-- FIN HERO -->

    <!-- SECCION OPCIONES -->
    <section id="opciones" class="seccion-opciones">
        <div class="contenedor-opciones">
            <% for (let i = 0; i < productos.length && i < 4; i++) { %>
                <%if(user){%>
                    <div class="tarjeta tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                        <img src=<%=productos[i].imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=productos[i].nombre%></h2>
                            <p><%=productos[i].descripcion%></p>
                            <div class="opciones-comprar">
                                <p>$<%=productos[i].precio%></p>
                                <%if (user) {%>
                                    <form action="/compras/agregar" method="POST">
                                        <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                        <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                        <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                        <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                        <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                    </form>
                                <%} else {%>
                                    <a href="/auth/signup">Comprar Ahora</a>
                                <%}%>    
                            </div>
                        </div>
                    </div>
                <%} else{%>
                    <div class="tarjeta tarjeta-producto">
                        <img src=<%=productos[i].imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=productos[i].nombre%></h2>
                            <p><%=productos[i].descripcion%></p>
                            <div class="opciones-comprar">
                                <p>$<%=productos[i].precio%></p>
                                <%if (user) {%>
                                    <form action="/compras/agregar" method="POST">
                                        <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                        <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                        <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                        <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                        <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                    </form>
                                <%} else {%>
                                    <a href="/auth/signup">Comprar Ahora</a>
                                <%}%>    
                            </div>
                        </div>
                    </div>
                    <%}%>
                
            <%} %>
        </div>
    </section>
    
    <!-- FIN SECCION OPCIONES -->


        <!-- ELEGIRNOS -->
        <section class='elegirnos' id="eleginos">
            <div class="contenedor-elegirnos">
                <div class='textos-elegirnos'>
                    <h1>¿POR QUÉ ELEGIRNOS?</h1>
                    <p>Nos elegirá porque obtendrá de nosotros alimentos de la mejor calidad y los entregamos rápidamente.</p>
                </div>
                <div class="motivos">
                    <div class="motivo">
                        <img src="imagenes/Elegirnos/icons8-ensalada-64.png" alt=""/>
                        <h2>Comida sana</h2>
                        <p>Aqui servimos comida sana. Usted puede elegir cualquier alimento que le guste.</p>
                    </div>
        
                    <div class="motivo">
                        <img src="imagenes/Elegirnos/icons8-carpeta.svg" alt=""/>
                        <h2>La mejor calidad</h2>
                        <p>La calidad de nuestra comida es excelente. Aqui obtendra exactamente lo que desea.</p>
                    </div>
        
                    <div class="motivo">
                        <img src="imagenes/Elegirnos/icons8-fast-delivery-64.png" alt=""/>
                        <h2>Entrega rapida</h2>
                        <p>Se puede decir que el principal objetivo de nuestro repartidor es entregar los pedidos rapidamente.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN SECCION ELEGIRNOS -->
        
        <!-- COMIDA ESPECIAL -->

        <section id="menuEspecial" class='comida-especial'>
            <div class="comida-especial-contenedor">
                <div class='textos-especial'>
                    <h1>MENU ESPECIAL</h1>
                    <p>Parte de nuestro menú de comida especial se proporciona aquí. Estos son los que más pide la gente. Si quieres puedes hacer tu pedido desde aquí.</p>
                </div>
                    <div class="swiper swiper-especial especiales"  >
                        <div class="swiper-wrapper swiper-wrapper-especial" >
                            <div class="swiper-slide swiper-slide-especial" >
                                <% for (let i = 4; i < productos.length && i < 7; i++) { %>
                                    <div class="especial tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                        <img class="comida" src=<%=productos[i].imgUrl%> alt=""/>
                                        <h2><%=productos[i].nombre%></h2>
                                        <div class="estrellas">
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <p class="num">(169)</p>
                                        </div>
                                        <div class="precio">
                                            <p>$<%=productos[i].precio%></p>
                                        </div>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button class="comprar-ahora bolsa" type="submit"><img src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></button>
                                            </form>
                                        <%} else {%>
                                            <a class="bolsa" href="/auth/signup"><img class="bolsa-comprar" src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></a>
                                        <%}%> 
                                            </div>
                                <%}%>
                            </div>
                            <div class="swiper-slide swiper-slide-especial">
                                <% for (let i = 7; i < productos.length && i < 10; i++) { %>
                                    <div class="especial tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                        <img class="comida" src=<%=productos[i].imgUrl%> alt=""/>
                                        <h2><%=productos[i].nombre%></h2>
                                        <div class="estrellas">
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <p class="num">(169)</p>
                                        </div>
                                        <div class="precio">
                                            <p>$<%=productos[i].precio%></p>
                                        </div>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button class="comprar-ahora bolsa" type="submit"><img src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></button>
                                            </form>
                                        <%} else {%>
                                            <a class="bolsa" href="/auth/signup"><img class="bolsa-comprar" src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></a>
                                        <%}%> 
                                            </div>
                                    <%}%>
                            </div>
                            <div class="swiper-slide swiper-slide-especial">
                                <% for (let i = 10; i < productos.length && i < 13; i++) { %>
                                    <div class="especial tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                        <img class="comida" src=<%=productos[i].imgUrl%> alt=""/>
                                        <h2><%=productos[i].nombre%></h2>
                                        <div class="estrellas">
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <p class="num">(169)</p>
                                        </div>
                                        <div class="precio">
                                            <p>$<%=productos[i].precio%></p>
                                        </div>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button class="comprar-ahora bolsa" type="submit"><img src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></button>
                                            </form>
                                        <%}else {%>
                                            <a class="bolsa" href="/auth/signup"><img class="bolsa-comprar" src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></a>
                                        <%}%> 
                                            
                                    </div>
                                    <%}%>
                            </div>
                            <div class="swiper-slide swiper-slide-especial">
                                <% for (let i = 13; i < productos.length && i < 16; i++) { %>
                                    <div class="especial tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                        <img class="comida" src=<%=productos[i].imgUrl%> alt=""/>
                                        <h2><%=productos[i].nombre%></h2>
                                        <div class="estrellas">
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <img src="imagenes/icons8-estrella.png" alt=""/>
                                            <p class="num">(169)</p>
                                        </div>
                                        <div class="precio">
                                            <p>$<%=productos[i].precio%></p>
                                        </div>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button class="comprar-ahora bolsa" type="submit"><img src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></button>
                                            </form>
                                        <%}else {%>
                                            <a class="bolsa" href="/auth/signup"><img class="bolsa-comprar" src="imagenes/icons8-bolsa-de-compras-45.png" alt=""></a>
                                        <%}%> 
                                            </div>
                                    <%}%>
                            </div>
                        </div>
                        <div class='swiper-pagination'></div>
                        </div>
                </div>
                </div>
            </div>
        </section>
            
        <!-- FIN COMIDA ESPECIAL -->

        <!-- COMIDA HABITUAL -->
        <section id="comidaHabitual" class='comida-habitual'>
            <div class="contenedor-comida-habitual">
                <div class='titulos-habitual'>
                    <h1>NUESTRA COMIDA HABITUAL</h1>
                    <p >Esta es nuestra lista diaria de alimentos. Aquí encontrarás todo tipo de comida. Elige tu comida favorita y ordena.</p>
                </div>
            <div class="swiper swiper-habitual comidas">
                <div class="swiper-wrapper swiper-wrapper-habitual" >
                    <div class="swiper-slide swiper-slide-habitual" >
                        <% for (let i = 17; i < productos.length && i < 23; i++) { %>
                            <div class="tarjeta-habitual tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                <img class='tarjeta-habitual-img' src=<%=productos[i].imgUrl%> alt=""/>
                                <div class="tarjeta-textos-habitual">
                                    <h2><%=productos[i].nombre%></h2>
                                    <div class="estrellasHabitual">
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <p class="numero">(102)</p>
                                    </div>
                                    <p><%=productos[i].descripcion%></p>
                                    <div class="opciones-comprar-habitual">
                                        <p>$<%=productos[i].precio%></p>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                            </form>
                                        <%}else {%>
                                            <a href="/auth/signup">Comprar Ahora</a>
                                        <%}%> 
                                    </div>
                                </div>
                            </div>
                            <%} %>
                    </div>
                    <div class="swiper-slide swiper-slide-habitual" >
                        <% for (let i = 23; i < productos.length && i < 29; i++) { %>
                            <div class="tarjeta-habitual tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                <img class='tarjeta-habitual-img' src=<%=productos[i].imgUrl%> alt=""/>
                                <div class="tarjeta-textos-habitual">
                                    <h2><%=productos[i].nombre%></h2>
                                    <div class="estrellasHabitual">
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <p class="numero">(102)</p>
                                    </div>
                                    <p><%=productos[i].descripcion%></p>
                                    <div class="opciones-comprar-habitual">
                                        <p>$<%=productos[i].precio%></p>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                            </form>
                                        <%}else {%>
                                            <a href="/auth/signup">Comprar Ahora</a>
                                        <%}%> 
                                    </div>
                                </div>
                            </div>
                            <%} %>
                    </div>
                    <div class="swiper-slide swiper-slide-habitual" >
                        <% for (let i = 29; i < productos.length && i < 35; i++) { %>
                            <div class="tarjeta-habitual tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                <img class='tarjeta-habitual-img' src=<%=productos[i].imgUrl%> alt=""/>
                                <div class="tarjeta-textos-habitual">
                                    <h2><%=productos[i].nombre%></h2>
                                    <div class="estrellasHabitual">
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <p class="numero">(102)</p>
                                    </div>
                                    <p><%=productos[i].descripcion%></p>
                                    <div class="opciones-comprar-habitual">
                                        <p>$<%=productos[i].precio%></p>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                            </form>
                                        <%} else {%>
                                            <a href="/auth/signup">Comprar Ahora</a>
                                        <%}%> 
                                    </div>
                                </div>
                            </div>
                            <%} %>
                    </div>
                    <div class="swiper-slide swiper-slide-habitual">
                        <% for (let i = 35; i < productos.length && i < 41; i++) { %>
                            <div class="tarjeta-habitual tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                                <img class='tarjeta-habitual-img' src=<%=productos[i].imgUrl%> alt=""/>
                                <div class="tarjeta-textos-habitual">
                                    <h2><%=productos[i].nombre%></h2>
                                    <div class="estrellasHabitual">
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                                        <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                                        <p class="numero">(102)</p>
                                    </div>
                                    <p><%=productos[i].descripcion%></p>
                                    <div class="opciones-comprar-habitual">
                                        <p>$<%=productos[i].precio%></p>
                                        <%if (user) {%>
                                            <form action="/compras/agregar" method="POST">
                                                <input type="hidden" name="id" value="<%=productos[i]._id%>">
                                                <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                                <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                                <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                                <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                                            </form>
                                        <%}else {%>
                                            <a href="/auth/signup">Comprar Ahora</a>
                                        <%}%> 
                                    </div>
                                </div>
                            </div>
                            <%} %>
                    </div>
                    </div>
                    <div class='swiper-pagination'></div>
                </div>
            </div>
        </section>
        <!-- FIN COMIDA HABITUAL -->
        
        <!-- NOSOTROS -->
        <section id="sobreNosotros" class='chefs'>
            <div class="contenedor-chefs">
                <div class="texto-chefs">
                    <h2>NUESTROS CHEF'S ESPECIALES</h2>
                    <p>A continuación se presentan algunos de nuestros chefs especiales que trabajan para preparar sus comidas.</p>
                </div>
                <div class="chefs-img">
                    <img class="uno" src="imagenes/Chefs/chef1.png"alt=""/>
                    <img class="dos" src="imagenes/Chefs/chef2.png"alt=""/>
                    <img class="tres" src="imagenes/Chefs/chef3.png" alt=""/>
                </div>
            </div>
        </section>
        </main>
        <!-- FIN NOSOTROS -->

    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/header.js"></script>
    <script src="js/signup.js"></script>
    <script src="js/swiper.js"></script>
</body>
</html>