<%- include('./partials/head.ejs') -%>
    
<header id="header">
    <div class="contenedor-header">
        <a class="empresa" href="/">FOODIED</a>
        <nav>
            <a href="/">Inicio</a>
            <a href="#menuEspecial">Menu</a>
            <a href="#sobreNosotros">Sobre Nosotros</a>
            <a href="#contactos">Contacto</a>
        </nav>
        <div class="header-derecha">
            <div class="header-iconos">
                <a href="#"><i class="bi bi-search"></i></a>
                <button id="carrito" href="#"><i class="bi bi-bag"></i></button>
                <div id="carrito-container" class="carrito-compras">
                    <%if(carrito.length > 0){%>
                        <% let total = 0 %>
                        <% carrito.forEach(producto => { %>
                            <div class="carrito-productos">
                                <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                                <a href="#">+</a>
                                <p><%= producto.cantidad %></p>
                                <a href="#">-</a>
                                <form action="/productos-carrito/<%=producto.id%>" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <a type="submit">Eliminar</a>
                                </form>
                                <p>$ <%= producto.precio %></p>
                            </div>
                            <% total += Number(producto.precio) * Number(producto.cantidad); %>
                            <% }); %>
                            <div class="realizar-compra">
                                <p>Total: <%= total %></p>
                                <a class="compra" href="#">Comprar</a>
                            </div>
                    
                    <%
                    }
                    else
                    {
                    %>
                        <p>No hay productos en el carrito</p>
                    <%    
                    }
                    %>
                </div>
        </div>
        <%if(user) {%>
            <div class="perfil">
                <img src="<%=user.image%>" alt="">
                <a href="/auth/logout"><%=user.username%></a>
            </div>
            <%}else{%>
            <div class="registrarse">
                <a href="/auth/signup">Registarse</a>
            </div>
        <%}%>
    </div>
    </div>
</header>

<main>
    <!-- HERO -->
    <section id="hero" class="hero">
        <span class="circulo-verde-der"></span>
        <span class="circulo-verde-izq"></span>
        <img class="planta-hero" src="imagenes/Planta-Header.png" alt="">
        <div class="contenedor-hero">
            <div class="textos-hero">
                <a href="#opciones" class="btn-hero-pregunta">Hambriento?</a>
                <h1>SOLO VEN A FOODIED & ORDENA</h1>
                <p>Aquí encontrarás comida pura y de la mejor calidad. Ordene ahora para satisfacer su hambre</p>
                <div class="btns-hero">
                    <a href="#comidaHabitual" class="btn-hero-izq">Ordena Ahora</a>
                    <a href="/comidas/all" class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></a>
                </div>
            </div>
            <div class="imagenes-hero">
                <img class="hero-comida-principal" src="imagenes/Hero-Principal.png" alt="">
                <img class="hero-comida-pequeña panqueque" src="imagenes/Panqueques.png" alt="">
                <img class="hero-comida-pequeña pancakes" src="imagenes/Pancakes.png" alt="">
                <img class="hero-comida-pequeña pescado" src="imagenes/Pescado.jpg" alt="">
                <img class="hero-comida-pequeña vegetales" src="imagenes/Arroz.jpg" alt="">
                <img class="hero-comida-pequeña arroz" src="imagenes/Vegetales.png" alt="">
            </div>
        </div>
    </section>
    <!-- FIN HERO -->

    <!-- SECCION OPCIONES -->
        <section id="opciones" class="seccion-opciones">
            <div class="contenedor-opciones">
                <% for (let i = 0; i < productos.length && i < 4; i++) { %>
                    <div class="tarjeta tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                        <img src=<%=productos[i].imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=productos[i].nombre%></h2>
                            <p><%=productos[i].descripcion%></p>
                            <div class="opciones-comprar">
                                <p>$<%=productos[i].precio%></p>
                                <%if (user) {%>
                                    <form class="comprar-formulario" action="/" method="post">
                                        <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                        <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                        <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                        <button class="comprar-ahora" type="submit">Comprar Ahora</button>
                                    </form>
                                <%}else{%>
                                    <a href="/auth/signup">Comprar Ahora</a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                <%} %>
            </div>
        </section>
        
        <!-- FIN SECCION OPCIONES -->

        <!-- ELEGIRNOS -->
        <section class='elegirnos'>
            <div class="contenedor-elegirnos">
                <div class='textos-elegirnos'>
                    <h1>¿POR QUÉ ELEGIRNOS?</h1>
                    <p>Nos elegirá porque obtendrá de nosotros alimentos de la mejor calidad y los entregamos rápidamente.</p>
                </div>
                <div class="motivos">
                    <div class="motivo">
                        <img src="imagenes/icons8-ensalada-64.png" alt=""/>
                        <h2>Comida sana</h2>
                        <p>Aqui servimos comida sana. Usted puede elegir cualquier alimento que le guste.</p>
                    </div>
        
                    <div class="motivo">
                        <img src="imagenes/icons8-carpeta.svg" alt=""/>
                        <h2>La mejor calidad</h2>
                        <p>La calidad de nuestra comida es excelente. Aqui obtendra exactamente lo que desea.</p>
                    </div>
        
                    <div class="motivo">
                        <img src="imagenes/icons8-fast-delivery-64.png" alt=""/>
                        <h2>Entrega rapida</h2>
                        <p>Se puede decir que el principal objetivo de nuestro repartidor es entregar los pedidos rapidamente.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN SECCION ELEGIRNOS -->
        
        <!-- COMIDA ESPECIAL -->

        <section id="menuEspecial" class='comida-especial'>
            <div class="comida-especial-contenedor">
                <div class='textos-especial'>
                    <h1>MENU ESPECIAL</h1>
                    <p>Parte de nuestro menú de comida especial se proporciona aquí. Estos son los que más pide la gente. Si quieres puedes hacer tu pedido desde aquí.</p>
                </div>
                    <div class="especiales">
                        <% for (let i = 4; i < productos.length && i < 7; i++) { %>
                        <div class="especial tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                            <img class="comida" src=<%=productos[i].imgUrl%> alt=""/>
                            <h2><%=productos[i].nombre%></h2>
                            <div class="estrellas">
                                <img src="imagenes/icons8-estrella.png" alt=""/>
                                <img src="imagenes/icons8-estrella.png" alt=""/>
                                <img src="imagenes/icons8-estrella.png" alt=""/>
                                <img src="imagenes/icons8-estrella.png" alt=""/>
                                <img src="imagenes/icons8-estrella.png" alt=""/>
                                <p class="num">(169)</p>
                            </div>
                            <div class="precio">
                                <p>$<%=productos[i].precio%></p>
                            </div>
                            <div class="bolsa">
                                <%if (user) {%>
                                    <a href="/comidas/all"><img class="bolsasa" src="imagenes/icons8-bolsa-de-compras-45.png"alt=""/></a>
                                <%}else{%>
                                    <a href="/auth/signup"><img class="bolsasa" src="imagenes/icons8-bolsa-de-compras-45.png"alt=""/></a>
                                <%}%>
                            </div>
                        </div>
                        <%}%>
                        </div>
                </div>
                
                </div>
                 <div class='slide'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section>
            
        <!-- FIN COMIDA ESPECIAL -->

        <!-- COMIDA HABITUAL -->
        <section id="comidaHabitual" class='comida-habitual'>
            <div class="contenedor-comida-habitual">
                <div class='titulos-habitual'>
                    <h1>NUESTRA COMIDA HABITUAL</h1>
                    <p >Esta es nuestra lista diaria de alimentos. Aquí encontrarás todo tipo de comida. Elige tu comida favorita y ordena.</p>
                </div>
              <div class="comidas">
                <% for (let i = 8; i < productos.length && i < 14; i++) { %>
                <div class="tarjeta-habitual tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                    <img class='tarjeta-habitual-img' src=<%=productos[i].imgUrl%> alt=""/>
                    <div class="tarjeta-textos-habitual">
                        <h2><%=productos[i].nombre%></h2>
                        <div class="estrellasHabitual">
                            <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                            <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                            <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                            <img class="estrella" src="imagenes/icons8-estrella.png" alt=""/>
                            <img class="estrella"  src="imagenes/icons8-estrella.png" alt=""/>
                            <p class="numero">(102)</p>
                        </div>
                        <p><%=productos[i].descripcion%></p>
                        <div class="opciones-comprar-habitual">
                            <p>$<%=productos[i].precio%></p>
                            <%if (user) {%>
                                <a href="/comidas/all">Comprar Ahora</a>
                            <%}else{%>
                                <a href="/auth/signup">Comprar Ahora</a>
                            <%}%>
                        </div>
                    </div>
                </div>
                <%} %>
            </div>
            <div class='slide-habitual'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </section>
        <!-- FIN COMIDA HABITUAL -->
        
        <!-- NOSOTROS -->
        <section id="sobreNosotros" class='chefs'>
            <div class="contenedor-chefs">
                <div class="texto-chefs">
                    <h2>NUESTROS CHEF'S ESPECIALES</h2>
                    <p>A continuación se presentan algunos de nuestros chefs especiales que trabajan para preparar sus comidas.</p>
                </div>
                <div class="chefs-img">
                    <img class="uno" src="imagenes/chef1.png"alt=""/>
                    <img class="dos" src="imagenes/chef2.png"alt=""/>
                    <img class="tres" src="imagenes/chef3.png" alt=""/>
                </div>
            </div>
        </section>
        </main>
        <!-- FIN NOSOTROS -->

    <%- include('./partials/footer.ejs') %>
    <script src="js/header.js"></script>
</body>
</html>