    <!-- SECCION OPCIONES -->
    <section id="opciones" class="seccion-opciones">
        <div class="contenedor-opciones">
            <% for (let i = 0; i < productos.length && i < 4; i++) { %>
                <div class="tarjeta tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                    <img src=<%=productos[i].imgUrl%> alt="">
                    <div class="tarjeta-textos">
                        <h2><%=productos[i].nombre%></h2>
                        <p><%=productos[i].descripcion%></p>
                        <div class="opciones-comprar">
                            <p>$<%=productos[i].precio%></p>
                            <%if (user) {%>
                                <form class="comprar-formulario" action="/compras" method="post">
                                    <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                    <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                    <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                    <button class="comprar-ahora" type="submit">Comprar Ahora</button>
                                </form>
                            <%}else{%>
                                <a href="/auth/signup">Comprar Ahora</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            <%} %>
        </div>
    </section>
    
    <!-- FIN SECCION OPCIONES -->


    <section id="opciones" class="seccion-opciones">
        <div class="contenedor-opciones">
            <% for (let i = 0; i < productos.length && i < 4; i++) { %>
                <div class="tarjeta tarjeta-producto" data-producto-id="<%-productos[i]._id%>">
                    <img src=<%=productos[i].imgUrl%> alt="">
                    <div class="tarjeta-textos">
                        <h2><%=productos[i].nombre%></h2>
                        <p><%=productos[i].descripcion%></p>
                        <div class="opciones-comprar">
                            <p>$<%=productos[i].precio%></p>
                            <%if (user) {%>
                                <form class="comprar-formulario" >
                                    <input type="hidden" name="nombre" value="<%=productos[i].nombre%>">
                                    <input type="hidden" name="imagen" value="<%=productos[i].imgUrl%>">
                                    <input type="hidden" name="precio" value="<%=productos[i].precio%>">
                                    <button class="comprar-ahora" type="submit">Comprar Ahora</button>
                                </form>
                            <%}else{%>
                                <a href="/auth/signup">Comprar Ahora</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            <%} %>
        </div>
    </section>