<%-include ('../partials/head.ejs')%>
    <%- include('../partials/header-shop.ejs') -%>
    <section class='comida-habitual'>
        <div class="shop">
            <h1>NUESTRAS RECETAS</h1>
            <div class='titulos'>
                <a href="/comidas/all">Todas las opciones</a>
                <a href="/comidas/carnes">Carnes</a>
                <a href="/comidas/ensaladas">Ensaladas</a>
                <a href="/comidas/sushi">Sushi</a>
                <a href="/comidas/pastas">Pastas</a>
                <a href="/comidas/pizzas">Pizzas</a>
                <a href="/comidas/veganas">Opciones veganas</a>
                <a href="/comidas/sopas">Sopas</a>
                <a href="/comidas/dulces" style="color:rgb(132,183,78)">Dulces</a>
            </div>
            <div class="comidas-shop">
                <% productos.forEach((producto) =>{ %>
                    <div class="tarjeta-shop">
                        <img src=<%=producto.imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=producto.nombre%></h2>
                            <p><%=producto.descripcion%></p>
                            <div class="opciones-comprar">
                                <p><%=producto.precio%></p>
                                <button>Comprar Ahora</button>
                            </div>
                        </div>
                    </div>
                <%})  %>
          </div>
          <Slide />
        </div>
      </section>
    <%-include('../partials/footer.ejs') -%>

</body>
</html>