<%-include ('../partials/head.ejs')%>
<%-include('../partials/header-shop.ejs')%>
    <section class='comida-habitual'>
        <div class="shop">
            <h1>NUESTRAS RECETAS</h1>
            <div class='titulos'>
                <a href="/comidas/all">Todas las opciones</a>
                <a href="/comidas/carnes">Carnes</a>
                <a href="/comidas/ensaladas">Ensaladas</a>
                <a href="/comidas/sushi">Sushi</a>
                <a href="/comidas/hamburguesas">Hamburguesas</a>
                <a href="/comidas/pastas" style="color:rgb(132,183,78)">Pastas</a>
                <a href="/comidas/pizzas">Pizzas</a>
                <a href="/comidas/veganas">Opciones veganas</a>
                <a href="/comidas/sopas">Sopas</a>
                <a href="/comidas/dulces">Dulces</a>
            </div>
            <div class="comidas-shop">
                <% productos.forEach((producto) =>{ %>
                    <div class="tarjeta-shop tarjeta-producto" data-producto-id="<%-producto._id%>">
                        <img src=<%=producto.imgUrl%> alt="">
                        <div class="tarjeta-shop-textos">
                            <h2><%=producto.nombre%></h2>
                            <p><%=producto.descripcion%></p>
                            <div class="opciones-comprar">
                                <p>$<%=producto.precio%></p>
                                <%if (user) {%>
                                    <form class="comprar-formulario" action="/compras/agregar" method="POST">
                                        <input type="hidden" name="nombre" value="<%=producto.nombre%>">
                                        <input type="hidden" name="imagen" value="<%=producto.imgUrl%>">
                                        <input type="hidden" name="precio" value="<%=producto.precio%>">
                                        <button class="comprar-ahora" type="submit">Comprar Ahora</button>
                                    </form>
                                <%}else{%>
                                    <a href="/auth/signup">Comprar Ahora</a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                <%})  %>
          </div>
          <Slide />
        </div>
      </section>
    <%-include('../partials/footer.ejs') -%>

</body>
</html>