
<!-- SECCION OPCIONES -->
        <section class="seccion-opciones">
            <div class="contenedor-opciones">
                <% for (let i = 0; i < productos.length && i < 4; i++) { %>
                    <div class="tarjeta">
                        <img src=<%=productos[i].imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=productos[i].nombre%></h2>
                            <p><%=productos[i].descripcion%></p>
                            <div class="opciones-comprar">
                                <p><%=productos[i].precio%></p>
                                <button>Comprar Ahora</button>
                            </div>
                        </div>
                    </div>
                <%} %>
            </div>
        </section>
        
<!--         <section class="seccion-opciones">
            <h1 style="margin-bottom: 4rem; font-size: 4rem;">MAS OPCIONES</h1>
            <div class="contenedor-opciones" style="flex-wrap: wrap; gap: 2rem;">
                <% for (let i = 4; i < productos.length && i < 22; i++) { %>
                    <div class="tarjeta" style="margin-top: 8rem;">
                        <img src=<%=productos[i].imgUrl%> alt="">
                        <div class="tarjeta-textos">
                            <h2><%=productos[i].nombre%></h2>
                            <p><%=productos[i].descripcion%></p>
                            <div class="opciones-comprar">
                                <p><%=productos[i].precio%></p>
                                <button>Comprar Ahora</button>
                            </div>
                        </div>
                    </div>
                <%} %>
            </div>
        </section> -->
        
        <!-- FIN SECCION OPCIONES -->